.text-white{
	color:white;
	background-color:green;
	text-align:center;
}

.border-blue{
	border: 1px solid blue;
}

.img-size{
	width: 200px;
}

.margin-space{
	margin-top: 40px;
	margin-left: 100px;
	margin-bottom: 40px;
	margin-right: 100px;
}

.padding-space{
	padding-top: 40px;
}

body{
	background-color: #fff;
	background-image:
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}

.main-margin{
	margin-left:80px;
}

h2 {
  color:#ff7e5f;
}

.box{
	border: 20px solid #c0392b;
	width: 200px;
	padding: 50px;
}
.box-green{
	border: 20px solid #27ae60;
	width: 200px;
	padding: 50px;
	margin-top:20px;
	margin-bottom:20px;
}
.box-blue{
	border: 20px solid #8e44ad;
	width: 200px;
	padding: 50px;
}

.challenge2{
	font-family: Verdana;
}

.challenge2 h1{
	color: #9b59b6;
}
.challenge2 h1::before{
	content: "Topic:";
}
.challenge2 p::first-letter{
	font-size: 30px;
	color: #2980b9;
}

.challenge2 p{
	font-style: italic;
}

.sub-header{
	color:#2980b9;
}

h1:first-child {
 text-align: center;
} 